@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/*
#fff5f5 - base pink
#eaa59d - pink in logo
#ffe0e0 - just little pink
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: white;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* main menu design */
.menu-header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-size: 16px;
  z-index: 3;
}
/*.menu-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #eaa59d;
}*/
.menu-header__logo {
  height: 70px;
  margin: 0px 20px;
}
.menu-header__img {
  height: 100%;
}
.menu-header__item {
  transition: background-color 0.5s;
  padding: 0px 50px;
  margin: 0px 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 2px;
  height: 40px;
  line-height: 40px;
}
.menu-header__item:hover {
  background-color: #ffe0e0;
}

/* main-view design */
.view {
  height: 100vh;
  padding-top: 80px;
  margin-top: -80px;
  display: flex;
  background: linear-gradient(#ffe0e0 0%, white 50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view__aboutme {
  font-size: 16px;
  margin: 5px 0px;
}
.view__text {
  font-size: 16px;
}
.view__text--name {
  font-size: 3.2em;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 5px;
}
.view__text--about {
  font-size: 1.2em;
  font-weight: normal;
}
.view__text--work {
  font-size: 2em;
  font-weight: normal;
}
.view__img {
  height: 350px;
  border-radius: 50%;
  border: 10px solid white;
  margin: -50px 0px 20px 0px;
}

/* whole section design */
.main {
  text-align: center;
  font-size: 18px;
}

.main__title {
  letter-spacing: 3px;
  font-size: 2.2em;
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* photos */

@keyframes photos-slideshow {
  0% {
    background-image: url("../images/magnetoterapia.jpg");
  }
  25% {
    background-image: url("../images/drenazlimfatyczny.jpg");
  }
  50% {
    background-image: url("../images/krioterapia.jpg");
  }
  75% {
    background-image: url("../images/laseroterapia.jpg");
  }
  100% {
    background-image: url("../images/elektroterapia.jpg");
  }
}

/* offer view */

.offer {
  text-align: center;
  padding-bottom:35px; /*cause of offer__box */
}
.offer__box {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 275px;
  width: 275px;
  margin: 0px -35px 0px -35px;
  transition: all 1s ease-in-out;
}

.offer__box:nth-child(odd) {
  top: 35px;
  z-index: 1;
}
.offer__box:hover {
  z-index: 2;
  transform: scale(1.1);
}

.offer__title {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
padding:6px 0px;
  letter-spacing: 1px;
  text-transform: lowercase;
  background-color:#ffe0e0;
}

.offer__img {
  height: inherit;
  width: inherit;
  border: 10px solid #ffe0e0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  margin: auto;
}
/* photos view */

.images_slider {
  display: block;
  margin-top: 50px;
  display: inline-block;
}
.image_back {
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
  float: left;
}
.image_next {
  display: block;
  width: 50px;
  height: 50px;
  background-color: black;
  float: right;
}
.images_slider_box {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: block;
  animation: photos-slideshow 5s infinite;
  background-image: url("../images/photo.jpg");
}
.images_slider_box img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  height: 100%;
  z-index: -1;
}

/* contact view */

#contact_box {
  display: inline-block;
  width: 500px;
  position: relative;
  margin: 20px;
  vertical-align: middle;
  font-size: 28px;
}

.contact_separator {
  width: 1px;
  height: 100px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background-color: #eeeeee;
}

/* footer */

footer {
  width: 100%;
  position: relative;
  min-height: 400px;
  background: linear-gradient(white 0%, #ffe0e0 50%);
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-size: 23px;
}
h3 {
  font-size: 10px;
  font-weight: normal;
}
#copys {
  font-size: 10px;
  position: relative;
  text-align: center;
  margin: 15px auto;
}

#copys::before {
  content: "";
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: -10px;
  width: 250px;
  height: 2px;
  background-color: white;
}
.divide_footer {
  min-width: 300px;
  max-width: 500px;
  margin: 50px 10px 10px 10px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

/* partners */
#logo_containter {
  width: 100%;
  display: block;
  text-align: center;
}
#logo_image {
  width: 150px;
  vertical-align: middle;
  display: inline-block;
  margin: 0px 20px;
  padding: 20px 0px;
  transition: width 0.5s;
}

#logo_containter img {
  width: 100%;
  height: 100%;
}

/* phones */

@media only screen and (max-width: 480px) {
  #menu {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    padding: none;
    border-top: none;
  }
  .undermenu {
    height: 5vh;
    width: 100%;
    line-height: 5vh;
    display: none;
    margin: none;
  }
  .show_menu {
    display: block;
    height: 5vh;
    width: 100%;
    line-height: 5vh;
    display: inline-block;
    margin: none;
  }
  #logo img {
    width: 100%;
    margin-top: 25vh;
  }
  section {
    width: 100%;
  }
}
