@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/*
#fff5f5 - base pink
#eaa59d - pink in logo
#ffe0e0 - just little pink
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: white;
  display:flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

/* main menu design */
.menu-header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 16px;
  z-index: 3;
  transition: box-shadow 0.2s ease-in-out;
}
.menu-header:hover {
	box-shadow: 0 5px 9px -3px #d6d6d6;
}
.menu-header__logo {
  height: 70px;
  margin: 0px 20px;
}
.menu-header__img {
  height: 100%;
}
.menu-header__item {
  transition: background-color 0.5s;
  padding: 0px 50px;
  margin: 0px 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 2px;
  height: 40px;
  line-height: 40px;
}
.menu-header__item:hover {
  background-color: #ffe0e0;
}

/* main-view design */
.view {
  height: 100vh;
  padding-top:80px;
  background: linear-gradient(#eaa59d, white);
}
.view__box {
	height: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view__aboutme {
  font-size: 16px;
  margin: 5px 0px;
}
.view__text {
  font-size: 16px;
}
.view__text--name {
  font-size: 3.2em;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: bold;
  margin-bottom: 5px;
}
.view__text--about {
  font-size: 1.2em;
  font-weight: normal;
}
.view__text--work {
  font-size: 2em;
  font-weight: normal;
}
.view__img {
  height: 300px;
  border-radius: 50%;
  border: 10px solid white;
  margin: -50px 0px 20px 0px;
}

/* whole section design */
.main {
  text-align: center;
  font-size: 18px;
}
.main__title {
  letter-spacing: 3px;
  font-size: 2.2em;
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* photos view */

.photos__slider {
	margin-top: 50px;
	height: 500px;
	width:100%;
	display:block;
  }
  .photos__img {
	  height: 500px;;
	  width:100%;
  }
  

@keyframes photos-slideshow {
  0% {
    background: url("../images/magnetoterapia.jpg") no-repeat;
  }
  25% {
    background: url("../images/drenazlimfatyczny.jpg") no-repeat;
  }
  50% {
    background: url("../images/krioterapia.jpg") no-repeat;
  }
  75% {
    background: url("../images/laseroterapia.jpg") no-repeat;
  }
  100% {
    background: url("../images/elektroterapia.jpg") no-repeat;
  }
}

/* offer view */

.offer {
  text-align: center;
  padding-bottom: 35px; /*cause of offer__box */
}
.offer__box {
  display: inline-block;
  position: relative;
  text-align: center;
  height: 300px;
  width: 400px;
  background-color:#ffe0e0 ;
  margin: 15px;
  transition: all 1s ease-in-out;
}

.offer__box:nth-child(odd) {
  z-index: 1;
}
.offer__box:hover {
  z-index: 2;
  transform: scale(1.1);
}

.offer__title {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 6px 0px;
  letter-spacing: 2px;
  text-transform: lowercase;
  background-color: #ffe0e0;
}
.offer__img {
  height: inherit;
  width: inherit;
  opacity:0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 1s opacity ease-in-out;
}

.offer__box:hover > .offer__img {
	opacity:1;
}
.offer__price {
	display:flex;
	justify-content: center;
	align-items: center;
}
/* contact view */
.contact {}

.contact_box {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  position: relative;
  font-size: 28px;
}

.google, .facebook{
	width:500px;
}
.contact__text {
	width:400px;
	margin:0px 50px;
}



/* footer */

footer {
  width: 100%;
  position: relative;
  min-height: 400px;
  background: linear-gradient(white, #eaa59d);
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-size: 23px;
}
h3 {
  font-size: 10px;
  font-weight: normal;
}
.copys {
  font-size: 10px;
  position: relative;
  text-align: center;
  margin: 15px auto;
}

.copys::before {
  content: "";
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  top: -10px;
  width: 250px;
  height: 2px;
  background-color: white;
}
.divide_footer {
  min-width: 300px;
  max-width: 500px;
  margin: 50px 10px 10px 10px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

/* partners */
.logo_containter {
  width: 100%;
  display: block;
  text-align: center;
}
.logo_image {
  width: 150px;
  vertical-align: middle;
  display: inline-block;
  margin: 0px 20px;
  padding: 20px 0px;
  transition: width 0.5s;
}

.logo_containter img {
  width: 100%;
  height: 100%;
}



/* phones */

@media only screen and (max-width: 480px) {
	.menu-header {
		width: 100vw;
		height: auto;
		padding-top:75px;
		background-color: white;
		position: fixed;
		display: flex;
		justify-content: center;
  	align-items: center;
  	flex-direction: column;
		top: 0;
		font-size: 16px;
		z-index: 3;
		transition: box-shadow 0.2s ease-in-out;
	  }
	  .menu-header:hover {
		  box-shadow: 0 5px 9px -3px #d6d6d6;
	  }
	  .menu-header__logo {
		  position: absolute;
		  top:0;
		  left:0;
		  right:0;
		  margin: auto;
	  }
	  .offer__box{
		margin:0px -35px -35px -35px;
	  }
	  .menu-header__item {
		transition: background-color 0.5s;
		padding: 0px 0px;
		margin:0;
		display:none;
		text-transform: uppercase;
		border-radius: 0px;
		cursor: pointer;
		width: 100%;
		background-color: white;
		font-weight: bold;
		font-size: 0.8em;
		letter-spacing: 2px;
		height: 60px;
		line-height: 60px;
	  }
	  .menu-header__item:hover {
		background-color: #ffe0e0;
	  }
	  .menu-header:hover > .menu-header__item {
		display:block;
	  }
	  .offer__box {
		  transform: scale(0.8);
	  }
	  .offer__box:hover {
		z-index: 2;
		transform: scale(0.9);
	  }

	  .facebook, .google {
		  width:100%;
	  }
	  .contact__text {
		  width:100%;
		  margin: 50px 0px;
	  }

	  .contact_box {
		flex-direction: column;
	  }
}
