@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*
#fff5f5 - base pink
#eaa59d - pink in logo
#ffe0e0 - just little pink
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: white;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Raleway';
  margin: 0;
}

/* main menu design */
.menu {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  transform: translateY(0px);
  transition: transform 0.2s 0.3s ease-in-out;
}
.menu--hide {
  transform: translateY(-80px);
}
.menu__logo {
  height: 70px;
  margin: 0px 20px;
}
.menu__img {
  height: 100%;
}
.menu__item {
  width: 150px;
  margin: 0px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: white;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 2px;
  height: 40px;
  line-height: 40px;
  transition: background-color 0.5s;
}
.menu__item:hover {
  background-color: #ffe0e0;
}

/* whole section design */
.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 0px;
  margin: 10px 0px;
}
.main__title {
  letter-spacing: 3px;
  font-size: 2.2em;
  margin: 10px;
}

/* main-view design */
.main--start {
  height: 100vh;
  padding-top: 80px;
  background: linear-gradient(#eaa59d, white);
}
.main__box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__title {
  font-size: 2.5em;
}
.main__box h5,
.main__box h4,
.main__box h3 {
  margin: 2px 0px;
  font-weight: medium;
}
.main__img {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  border: 10px solid white;
  margin-bottom: 20px;
}

/* photos view */

.photos__slider {
  margin-top: 50px;
  height: 500px;
  width: 100%;
  display: block;
}
.photos__img {
  height: 500px;
  width: 100%;
}

/* offer view */

.offer__box {
  max-width: 100%;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.offer__item {
  position: relative;
  text-align: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #ffe0e0;
  margin: -50px;
  border: 5px solid #ffe0e0;
  transition: transform 1s ease-in-out;
}

.offer__item:nth-child(odd) {
  margin-top: 25px;
}
.offer__item:hover {
  transform: scale(1.1);
  z-index: 2;
}

.offer__item:hover .offer__img {
  opacity: 1;
}

.offer__title {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 6px 0px;
  letter-spacing: 2px;
  text-transform: lowercase;
  background-color: #ffe0e0;
}
.offer__img {
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: opacity 0.5s ease-in-out;
}

/* contact view */
.contact__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.google,
.facebook {
  width: 400px;
  height: 300px;
  margin: 0px 30px;
}

.contact__box h1 {
  font-weight: normal;
}

/* partners */
.logo_containter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_image {
  width: 150px;
  margin: 0px 20px;
  padding: 20px 0px;
}

.logo_containter img {
  width: 100%;
  height: 100%;
}

/* footer */

.foot {
  width: 100%;
  background: linear-gradient(white, #eaa59d);
  display: flex;
  min-height: 500px;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
}
.foot__box {
  display: flex;
  justify-content: center;
}
.foot__text {
  font-size: 0.8em;
  font-weight: normal;
  margin: 2px 0px;
}
.foot__text--strong {
  font-size: 1.8em;
}

.foot__text--href {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.foot__text--copy {
  letter-spacing: 2px;
  margin: 10px 0px;
}

.foot__divide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: 0px 50px;
}

/* phones */

@media only screen and (max-width: 480px) {
  .menu {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    z-index: 3;
    transform: translateY(-100vh) translateY(90px);
    transition: transform 0.2s ease-in-out;
  }
  .menu__logo {
    position: absolute;
    bottom: 0;
    margin: 0px 0px 10px 0px;
  }
  .menu--show {
    transform: translateY(0px);
  }
  .menu__item {
    transition: background-color 0.5s;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    background-color: white;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin: 10px 0px;
    height: 60px;
    line-height: 60px;
  }
  .offer__item:nth-child(odd) {
    margin-top: 0px;
  }

  .facebook,
  .google {
    width: 100%;
  }
  .contact__text {
    width: 100%;
    margin: 50px 0px;
  }

  .contact__box {
    flex-direction: column;
  }
  .foot__box {
    flex-direction: column;
  }
}
